<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js + mysql</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="/img/logo.png"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/disponiveis">Livros disponíveis</a></li>
            <li><a href="/books">Editar livros</a></li>
            <li><a href="/cadastro">Cadastrar</a></li>
            <li><a href="#">Sobre</a></li>
        </ul>
    </nav>