 <div class="books-container form">
    <h1>Livros Disponíveis</h1>
    {{#each books}}
        <div>
            # <a href="/books/{{this.id}}" class="link-books"><span class="bold">{{this.title}}</span></a> - {{this.pageqty}} páginas
        </div>
    {{/each}}
</div>