<%- include("partials/header.ejs"); %>



<form action="/books/insertbook" method="POST" class="form">
    <h1 class="main-title">Cadastre o seu livro</h1>

    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título do livro">
    </div>

    <div class="form-control">
        <label for="pageqty">Quantidade de páginas:</label>
        <input type="number" name="pageqty" placeholder="Digite a quantidade de páginas">
    </div>

    <input type="submit" value="Cadastrar" class="btn">
</form>

<% if (recado) { %>
    <h3 class="recado_p">Exitem campos em branco</h3>
<%} %>

<% recado = '' %>


<%- include("partials/footer.ejs"); %>
