<div class="gallery">
    {{#each books}}
        <div class="post">
            <h3>📚{{this.title}}</h3>
            <p>{{this.pageqty}} páginas</p>
        </div>
    {{/each}}
  <!-- Adicione mais posts aqui -->
</div>