.logo img{
    max-width: 80px;
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
}

.logo a {
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.nav-links a {
    padding: 20px;
    border-radius: 15px;
    display: block;
    text-decoration: none;
    color: #333;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
}

/* estilizações adicionais */
.nav-links a:hover {
    background-color: #e1dfdf;
    animation: fade-in 0.4s ease-in-out
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }